#root {
  text-align: center;
}

.content {
  gap: 20px;
}

/* Text editor styles */
.code-editor {
  text-align: left;
  width: 100%;
  height: 600px;
  outline: #11ffff solid 1px;
}

.console {
  text-align: left;
}